body{
    color: red;
    margin: 0;
    padding: 0;
    height: 100%;
}

.landingpage{
    background-image: url(imgs/Black\ Minimal\ Modern\ Fashion\ Style\ Desktop\ Prototype.png);
    background-size: cover;
    padding: 40px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotoperfil{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.perfil{
    display: flex;
    align-items: center;
}

a{
    color: red;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagemprincipal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    
}

.imagemmeio{
    border-radius: 20px;
}