body{
    background-color: black;
    color: red;
    margin: 0;
    padding: 0;
    height: 100%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.fotoperfil{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.perfil{
    display: flex;
    align-items: center;
}

a{
    color: red;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagemprincipal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
    
}

.imagemmeio{
    border-radius: 20px;
}